/* Fonts install */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;700&family=Poppins:wght@300;400;500;600&display=swap');

// Colours import
$black: #141515;
$white: #f4f5f5;
$orange: #E5660B;
$green: #417B5A;

/* Adding fonts to headings and body copy */
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
}

body {
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Archivo', sans-serif;
}

h1 {
  font-size: 64pt;
  font-weight: 700;
}

h2 {
  font-size: 48pt;
  color: $orange;
  font-weight: 600;
}

h3 {
  font-size: 36pt;
  font-weight: 600;
}

h4 {
  font-size: 28pt;
  font-weight: 500;
}

h5 {
  font-size: 24pt;
  font-weight: 500;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
}

.width-50 {
  width: 40%;
}

.mb-1 {
  margin-bottom: 10px;
}

.mr-1 {
  margin-right: 10px;
}

/* Styling for the header */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: $black;
  color: $white;
  margin-bottom: 50px;
}

#b {
  height: 40px;
  fill: $white;
  transition: all 0.5s ease;
}

#b:hover {
  fill: $orange;
  transition: all 0.5s ease;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger {
  width: 25px;
  height: 3px;
  background-color: $black;
  margin: 5px 0;
  transition: transform 0.3s;
}

.open .hamburger:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .hamburger:nth-child(2) {
  opacity: 0;
}

.open .hamburger:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: $white;
  transition: all 0.5s ease;
}

.links a:hover {
  color: $orange;
  transition: all 0.5s ease;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $green;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin-bottom: 5px;
}

.button {
  padding: 10px 20px;
  color: $white;
  font-weight: 600;
  background-color: $orange;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.5s ease;
}

.button:hover {
  padding: 10px 20px;
  color: #f4f5f5;
  font-weight: 600;
  background-color: $green;
  transition: all 0.5s ease;
}

/* Media Query for Mobile Screen Sizes */
@media (max-width: 768px) {
  .nav .links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .hamburger {
    background-color: $white;
  }

  .nav.open .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the links horizontally */
    justify-content: center;
    /* Center the links vertically */
    position: absolute;
    top: 100px;
    left: 0;
    background-color: $white;
    width: 100%;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .nav.open .links li a {
    margin-bottom: 10px;
    color: $black;

  }
}

// Footer Styling
#contact-container {
  padding: 40px;
  width: 100%;
  height: 35vh;
  background-color: $green;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.short-field::placeholder,
.long-field::placeholder {
  padding-left: 5px;
  font-weight: 400;
  color: $black;
}

.long-field::placeholder {
  padding-top: 5px;
}


.contact-heading {
  color: $white;
  font-size: 24pt;
  margin-bottom: 10px;
}

.short-field,
.long-field {
  background-color: $white;
  border: none;
  width: 15vw;
}

.short-field {
  height: 4vh;
  margin-bottom: 10px;
}

.long-field {
  height: 7vh;
  margin-bottom: 5px;
}

.contact-submit {
  background-color: $black;
  color: $white;
  border: none;
  width: 100%;
  height: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}

.contact-submit:hover {
  background-color: $orange;
  cursor: pointer;
  transition: all 0.5s ease;
}


.socials-heading {
  color: $white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.socials {
  width: 2vw;
}

// Staff Members Styling
.staff-members-container {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
width: 100vw;
}
  
.staff-container {
display: flex;
justify-content: center;
width: 80vw;
}

.staff-image {
  width: 250px;
}